body { 
	font-family: arial; 
	font-size: 10pt;
	background: #323232;
	}
	
table { 
	font-size: 10pt; 
	margin: 0 auto;
	}

h2 {
	text-align: center;
	color:#D0D0D0 !important;
}

.h2title {
	margin-bottom: 20px;
}
#border { 
	border: 2px solid #999; 
	background: #CCC; 
	padding: 15px; 
	margin: 0 auto; 
	width: 300px;
}

.contentDetails {
	border-left: 1px solid #CCC;	
	padding-left: 30px
}
.addressTable{
	margin-left:0px
}
.navbar {
	padding-bottom: 20px;
	border: 0;
	border-radius: 0;
	font-size: 12px;
	letter-spacing: 3px;
	margin-bottom: 0px;
	background: #323232;
 }
.navbar-nav {  
  	padding-top: 10px;
	padding-bottom: 0px;
}
.navbar-nav  li a {
	color: #E0E0E0 !important;
}
.navbar-nav  li a:hover,
.navbar-nav  li a:focus {
	color: #1abc9c !important;
}

.nav-tabs > li > a
{
   padding-bottom: 2px;
	color:#323232 !important;
	background-color: #A0A0A0; 
	border-bottom: 1px solid #D8D8D8;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus{
	font-weight: bold;
   color: #E0E0E0 !important;
   background-color: #A0A0A0; 	
}

.table > thead > tr,
.table > tbody > tr {
   color: #323232;
	background-color: #A0A0A0;
}
.table > tbody > tr.active td,
.table > tbody > tr:hover td {
   color: #E0E0E0;
   background-color: #808080;
}
.table-disable-hover.table tbody tr:hover td,
.table-disable-hover.table tbody tr:hover th {
   color: #323232;
	background-color: #A0A0A0;
}

.slide {
	interval : 8000;
}
.carousel-inner {
    max-height: 600px !important;
}
.carousel-inner img {
/*    -webkit-filter: grayscale(90%);
    filter: grayscale(90%); /* make all photos black and white */ 
    width: 100%; /* Set width to 100% */
    margin: auto;
}
.carousel-caption {
	background: rgba(232,173,37,0.8);
	top: 10%;
	left: 10%;
	width:500px;
	bottom: auto;
	padding: 0 20px 10px 20px;
}
.cap {
	right: 10% !important;
	left: auto !important;
}
.carousel-caption h3 {
    color: #fff !important;
}
.carousel-caption p {
    color: #fff !important;
	font-size: 16px;
}
@media (max-width: 600px) {
   .carousel-caption {
    display: none; /* Hide the carousel text when the screen is less than 600 pixels wide */
  }
}
.carousel-control.right {

	top: 0% !important;
	right: 15% !important;
	background-image:none;
}

.carousel-control.left {

	top: 0% !important;
	left: 15% !important;
	background-image:none;
}
.container-fluid {
    padding: 50px 20px;
} 
.bg-0 {
    background: #323232;
    color:#E0E0E0;
    padding-top: 70px;
}
.panel-body {
	border: 2px solid #999; 
	background: #A0A0A0;
	color: #323232;
	padding: 15px;
}
.panel-body2 {
	border: 1px solid #CCC; 
	background: #A0A0A0;
	color: #323232;
	padding: 15px;
}
.rowpad {
	padding: 5px
}
.row {
	margin-top: 10px
}
.noMargin {
	margin: 0px;
	padding:0px;
}
.borderless td, .borderless th {
	 border-top: none !important; 
}
.portfolio {
	padding: 0px;
	margin:0px;
}
.panelPortfolio {
	padding: 2px;
	padding-top: 5px;
	margin-top: 0px;
	margin-left: 5px;
	height: 400px;
}
.thPortfolio {
	font-weight: bold;
}
.bg-1 {
    background: #323232;
    color:#E0E0E0;
    padding-top: 60px;
	 margin-top:20px;
}
.bg-pec {
    background: #323232;
    color:#E0E0E0;
}
.bg-pec2 {
	background: #A0A0A0;
	color: #323232;
	border:none;
}
	
.overflowTab {
	height: 350px;
	overflow: auto;
}
.marginTab {
	margin:10px;
	margin-right: 0px;
}
.red {
	color: red;
}
.green {
	color: green;
}

