<div class="container">
	
	<div class="row section">
		<div class="col-sm-4"></div>
		<div class="col-sm-4">
			<div class="panel panel-default">
			<div class="panel-body">
			<div class="form-group">
				<div class="row section rowpad">
					<div class="col-xs-3">Email:</div>
					<div class="col-xs-9">
						<input type="text" class="form-control text-left" ng-model="logEmail" ></input>  
					</div>
				</div>
				
				<div class="row section rowpad">
					<div class="col-xs-3">Password:</div>
					<div class="col-xs-9">
						<input type="text" class="form-control text-left"  ng-model="logPassword"></input>  
					</div>
				</div>
				
				<div class="row section rowpad">
					<div class="col-xs-12 text-center">
						<button id="btn-start" type="button" class="btn btn-default testQuestion" 
						ng-click="login()">LOGIN</button>
					</div>
				</div>
			</div>
			</div>
			</div>
		</div>
		<div class="col-sm-4"></div>
	</div>
</div>