<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog" ng-init="selectedModal = 1;">
	<div class="modal-dialog modal-sm">
	 
		<!-- Modal content-->
		<div class="modal-content bg-pec" ng-show="selectedModal == 1">
		
			<div class="modal-header">
				<div class="row section">
					<div class="col-sm-10 text-center">
						<h4 class="modal-title">Trade Order</h4>
					</div>
					<div class="col-sm-1 text-right">
						<a href="" data-dismiss="modal"><span class="glyphicon glyphicon-remove-circle"></span></a>					
					</div>
				</div>
			</div>
			
			<div class="modal-body">
				
				<table class="table table-bordered table-disable-hover">
					<thead>
						<tr>
						  <th class = "text-left" colspan="2">Energy PPA Bond Token</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td class = "align-left col-md-4">
								<table>
									<thead><tr><th class = "text-left col-md-4">Order Type</th></tr></thead>
									<tbody><tr><td class = "text-left col-md-4">Limit Order</td></tr></tbody>
								</table>
							</td>
							
							<td class = "text-left col-md-4">
								<table>
									<thead><tr><th class = "text-left col-md-4">Quantity</th></tr></thead>
									<tbody><tr><td class = "text-left col-md-4">1000</td></tr></tbody>
								</table>							
							</td>
						</tr>
						
						<tr>
							<td class = "text-left col-md-4">
								<table>
									<thead><tr><th class = "text-left col-md-4">Duration</th></tr></thead>
									<tbody><tr><td class = "text-left col-md-4">G.T.C.</td></tr></tbody>
								</table>
							</td>
							
							<td class = "text-left col-md-4">
								<table>
									<thead><tr><th class = "text-left col-md-4">Price</th></tr></thead>
									<tbody><tr><td class = "text-left col-md-4">38.50 USD</td></tr></tbody>
								</table>							
							</td>
						</tr>

						<tr>
							<td class = "text-center">
								<button type="button" class="btn btn-danger" data-dismiss="modal">SELL</button>
							</td>
							
							<td class = "text-center">
								<button type="button" class="btn btn-primary" data-dismiss="modal">BUY</button>						
							</td>
						</tr>							
					</tbody>
				</table>
			</div>
		</div>	
		
	</div>
</div>		<!-- End Modal definition -->