			<div class="panel portfolio">
			<div class="panel-body2 panelPortfolio">

				<div class="tabbable tabs-below" ng-init="selectedTab = 1;"  id="tabOverview">	
					<ul class="nav nav-tabs">
						<li ng-class="{active: selectedTab == 1}">
							<a  data-target="#"  ng-click="selectedTab = 1;">Overview</a>
						</li>
						<li ng-class="{active: selectedTab == 2}">
                     <a data-target="#" ng-click="selectedTab = 2;">News/Updates</a>
                  </li>
                  <li ng-class="{active: selectedTab == 3}">
                     <a data-target="#" ng-click="selectedTab = 3;">Charts</a>
                  </li>
						<button id="btn-trade" type="button" class="btn btn-primary btn-xs pull-right" 
						ng-click="trade()">TRADE</button>
					</ul>
					
					<div class="tab-content" ng-show="selectedTab == 1">
						<div class="tab-pane active cont" id="overview">
							<table class="table">
							<thead>
								<tr>
								  <th class = "text-left thPortfolio"> Last traded</th>
								  <th class = "text-center thPortfolio">Net change</th>
								  <th class = "text-center thPortfolio">%Change</th>
								  <th class = "text-center thPortfolio">Low</th>
								  <th class = "text-center thPortfolio">High</th>
								  <th class = "text-center thPortfolio">Volume</th>
								  <th class = "text-center thPortfolio">Last update</th>
								</tr>
							</thead>
							<tbody>
								<tr> 
									<td class = "text-left"	>15/12/17-12:07</td>
									<td class = "text-center">2.44</td>
									<td class = "text-center">2.34%</td>
									<td class = "text-center">99.50</td>
									<td class = "text-center">102.25</td>
									<td class = "text-center">2000</td>
									<td class = "text-center">15/12/17-12:15</td>
								</tr>
							</tbody>
							</table>
							<div class=" active" id="1">
								<img src={{image1.src}} class="img-rounded" alt={{image1.alt}} style="width:100%">
							</div>
						</div>
					</div>	
					
					<div class="tab-content marginTab" ng-show="selectedTab == 2">
						<table class="table table-condensed">					

						<tr>
							<td class = "text-left"	>
							<h4> <a href="https://www.pv-tech.org/news/acwa-power-closes-financing-for-61.3mw-pv-project-in-jordan">
							ACWA Power closes financing for 61.3MW PV project in Jordan.</a></h4>
							<h5>PV Tech - Dec 22, 2017 12:45 AM GMT </h5>
							<p>Saudi energy company ACWA Power has reached financial closing on a 61.3MW PV project that it is developing 
							in the Risha region of Jordan. ACWA Power noted that the financing is comprised of senior loans
							of US$22 million from the European Bank for Reconstruction and Development (EBRD) and US$16 million each 
							from Deutsche Investitions-Und Entwicklungsgesellschaft Mbh (DEG) and Arab Bank to Risha for Solar Power Projects PSC.</p>
							</td>						
						</tr>
						
						<tr>
							<td class = "text-left"	>
							<h4> <a href="https://slack-redir.net/link?url=https%3A%2F%2Fwww.smartcitiesdive.com%2Fnews%2Fcalifornia-regulators-approve-1b-solar-rebate-plan-for-low-income-resident%2F513543%2F&v=3">
							California regulators approve $1B solar rebate plan for low-income residents.</a></h4>
							<h5>Smart Cities Dive - Dec. 21, 2017 </h5>
							<p>Landlords will apply for the SOMAH incentives, which are available on buildings 
							that include at least five subsidized units for low-income residents</p>
							</td>						
						</tr>
						
						<tr>
							<td class = "text-left"	>
							<h4> <a href="https://www.pv-tech.org/news/vietnams-ttc-to-start-work-on-150mw-of-solar-in-first-half-of-2018-reports">
							Vietnam’s TTC to start work on 150MW of solar in first half of 2018 - reports.</a></h4>
							<h5>PV Tech - Dec 20, 2017 12:17 PM GMT </h5>
							<p>Ho Chi Minh City-based conglomerate TTC Corp plans to start constructing three solar 
							projects, totalling 150MW of capacity, in Vietnam in the first half of next year.
							Reuters reported TTC’s chairman Dang Van Thanh confirming that the projects will be located in 
							the central and southern provinces of Vietnam, requiring investment of roughly VND3 trillion 
							(US$132 million).</p>
							</td>						
						</tr>

						<tr>
							<td class = "text-left"	>
							<h4><a href="https://slack-redir.net/link?url=https%3A%2F%2Fwww.pv-tech.org%2Fnews%2Fvietnam-has-30-large-scale-solar-projects-under-development-but-fit-needed&v=3">
							Vietnam has 30 large-scale solar projects under development but FiT needed </a></h4>
							<h5>PV Tech - Nov 02, 2016 4:48 PM GMT</h5>
							<p> Solar PV is taking off in Vietnam with many international and domestic investors 
							showing intention to develop projects in the central and south of the country, 
							according to Hoa Vu Phuong, specialist, international relations department, 
							Institute of Energy, Vietnam.</p>
							</td>
						</tr>
						
						<tr>
							<td class = "text-left"	>
							<h4> <a href="Bloomberg.comhttps://www.bloomberg.com/news/articles/2016-09-08/taiwan-plans-solar-power-boost-in-push-to-become-free-of-nuclear">
							Taiwan Plans Solar Power Boost in Push to Become Free of Nuclear</a></h4>
							<h5>Bloomberg.com - ‎8‎ ‎September‎ ‎2016‎ ‎4‎:‎28‎ ‎PM‎ ‎+08  </h5>
							<p>Taiwan is aiming to more than double solar-power capacity in the next two years as part of a longer-term policy to see greater use of the energy 
							source following a vow to support green energy industries and get rid of nuclear power. </p>
							</td>						
						</tr>
						</table>
					</div>
					
					<div class="tab-content marginTab" ng-show="selectedTab == 3">					
						<p>This tab will display various financial charts</p>
					</div>
				</div>		
				
			</div>
			</div>