<div class="panel portfolio  bg-pec">
			<div class="panel-body2 panelPortfolio">
				
				<div id="tabPosition">	
					<ul class="nav nav-tabs">
						<li>
							<a  href="" data-toggle="tab">Positions</a>
						</li>
						<li class="active">
							<a href="" data-toggle="tab">Orders</a>
						</li>
					</ul>
					<div class="tab-content ">
						<table class="table table-condensed borderless">
						<thead>
							<tr>
							  <th class = "text-left thPortfolio"> Instrument</th>
							  <th class = "text-center thPortfolio">Type</th>
							  <th class = "text-center thPortfolio">Buy/Sell</th>
							  <th class = "text-center thPortfolio">Amount</th>
							  <th class = "text-center thPortfolio">Price</th>
							  <th class = "text-center thPortfolio">Current</th>
							  <th class = "text-center thPortfolio">Stop</th>
							  <th class = "text-center thPortfolio">Limit</th>
							  <th class = "text-center thPortfolio">Duration</th>
							  <th class = "text-left thPortfolio">Created</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat = "y in orderlist.orders"> 
								<td>{{y.name}}</td>
								<td class = "text-center">{{y.type}}</td>
								<td class = "text-center">{{y.buySell}}</td>
								<td class = "text-center">{{y.amount}}</td>
								<td class = "text-center">{{y.price | number:2}} {{pool.currency}}</td>
								<td class = "text-center">{{y.current | number:2}} {{pool.currency}}</td>
								<td class = "text-center">{{y.stop | number:2}}</td>
								<td class = "text-center">{{y.limit | number:2}}</td>
								<td class = "text-center">{{y.duration}}</td>
								<td class = "text-left">{{y.created | date:'MMM d - HH:mm'}} 
									<div class="pull-right">
										<button type="button" class="btn btn-primary btn-xs disabled">Update</button>&nbsp;&nbsp;
										<button type="button" class="btn btn-primary btn-xs disabled">Cancel</button>
									</div>
								</td>
							</tr> 
						</tbody>
						</table>
					</div>
				</div>
				
			</div>
			</div>