<div class="container">
	
	<div class="row section h2title">
		<div class="col-sm-3"></div>	
		<div class="col-sm-6">
			<h2> {{user.prefix}} {{user.firstname}} {{user.lastname}}</h2>
		</div>
		<div class="col-sm-3 text-right">
			<h2><a href="#editprofile"><span class="glyphicon glyphicon-edit"></span></a></h2>
		</div>
		<div class="col-sm-1"></div>
	</div>
	
	
	<div class="row section">
		<div class="col-sm-1"></div>	
		<div class="col-sm-5">
			<p>Date = {{ date | date:'EEEE, MMMM d, y - HH:mm:ss' }}</p>
		</div>
		
		<div class="col-sm-6 text-right">
		</div>
	</div>
	
	<div class="row section">
		<div class="col-sm-1"></div>
		<div class="col-sm-5">
			<div class="panel panel-default">
			<div class="panel-heading">Personal details</div>
			<div class="panel-body2">
				<table class="table">
					<tbody>
						<tr>
							<td>Email</td>
							<td>{{user.email}}</td>
						</tr>
						<tr>
							 <td>Phone</td>
							 <td>{{user.phone}}</td>
						</tr>
						<tr>
							 <td>Profile</td>
							 <td>{{user.profile}}</td>
						</tr>
					</tbody>
				</table>
			</div>
			</div>
		</div>
	
		<div class="col-sm-5">		
			<div class="panel panel-default">
			<div class="panel-heading">Company details</div>
			<div class="panel-body2">
				<table class="table table-condensed">
					<tbody>
						<tr>
							<td>Legal name</td> <td>{{company.identity.legalName}}</td>
						</tr>
						<tr>
							<td>Form</td> <td>{{company.identity.legalForm}}</td>
						</tr>
						<tr>
							<td>Registration Nb.</td> <td>{{company.identity.registrationNb}}</td>
						</tr>
						<tr>
							<td>Date of creation</td> <td>{{company.identity.dateOfCreation}}</td>
						</tr>
						<tr>
							<td>Domiciliation</td>
							<td>
								<table class="addressTable">
								<tbody>
									<tr><td> {{company.identity.domiciliation.street}} </td></tr>
									<tr><td> {{company.identity.domiciliation.zipcode}}, {{company.identity.domiciliation.city}} </td></tr>
									<tr><td> {{company.identity.domiciliation.province}}, {{company.identity.domiciliation.country}} </td></tr>
								</tbody>
								</table>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			</div>
		</div>
		<div class="col-sm-1"></div>
	</div>	

</div>