<div class="container">
	
	<div class="row section">
		<div class="col-sm-3"></div>
		<div class="col-sm-6">
			<div class="panel panel-default">
			<div class="panel-heading">Personal details</div>
			<div class="panel-body">
			<div class="form-group">
			
				<div class="row section rowpad">
					<div class="col-xs-4">Email*:</div>
					<div class="col-xs-8">
						<input type="text" class="form-control text-left" ng-model="email" 
							   focus-on="focusMe" ng-keyup="uniKeyCode($event)"></input>  
					</div>
				</div>

				<div class="row section rowpad">
					<div class="col-xs-4">Password*:</div>
					<div class="col-xs-8">
						<input type="text" class="form-control text-left"  ng-model="password" 
							   focus-on="focusMe" ng-keyup="uniKeyCode($event)"></input>  
					</div>
				</div>
				
				<div class="row section rowpad">
					<div class="col-xs-4">Confirm Pwd*:</div>
					<div class="col-xs-8">
						<input type="text" class="form-control text-left"  ng-model="passwordConf" 
							   focus-on="focusMe" ng-keyup="uniKeyCode($event)"></input>  
					</div>
				</div>
				
				<div class="row section rowpad">
					<div class="col-xs-4">Title:</div>
					<div class="col-xs-8">
						<input type="text" class="form-control text-left" ng-model="title" 
							   focus-on="focusMe" ng-keyup="uniKeyCode($event)"></input>  
					</div>
				</div>
				
				<div class="row section rowpad">
					<div class="col-xs-4">Firstname*:</div>
					<div class="col-xs-8">
						<input type="text" class="form-control text-left" ng-model="firstname" 
							   focus-on="focusMe" ng-keyup="uniKeyCode($event)"></input>  
					</div>
				</div>
				
				<div class="row section rowpad">
					<div class="col-xs-4">Lastname*:</div>
					<div class="col-xs-8">
						<input type="text" class="form-control text-left" ng-model="lastname" 
							   focus-on="focusMe" ng-keyup="uniKeyCode($event)"></input>  
					</div>
				</div>
				
				<div class="row section rowpad">
					<div class="col-xs-4">Phone:</div>
					<div class="col-xs-8">
						<input type="text" class="form-control text-left" ng-model="phone" 
							   focus-on="focusMe" ng-keyup="uniKeyCode($event)"></input>  
					</div>
				</div>

				<div class="row section rowpad">
					<div class="col-xs-12 text-center">
						<button id="btn-start" type="button" class="btn btn-default" 
						ng-click="register()">REGISTER</button>
					</div>
				</div>
			</div>
			</div>
			</div>
		</div>
		<div class="col-sm-3"></div>
		
	</div>	
</div>